
.landing-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2C2A2A;
}

/*–– Desktop pattern ––*/
.pattern-container {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 12%;
  background-image: url('../assets/cross.png');
  background-size: 190px 180px;
  background-repeat: space;
  background-position: center;
}


/*–– Mobile pattern ––*/
@media (max-width: 650px) {
  .pattern-container {
    position: absolute;
    top:   15%;
    left:  0%;
    right: 0%;
    bottom: 0%;
  }
}
