@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    overflow: hidden;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
}

body {
    overflow: auto;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
}
.fade-enter {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
