body {
  margin: 0;
  /* remove display:flex and place-items:center */
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #2C2A2A;
}

